body {
  font-family: sans-serif;
}
.imgnav {
  width: 10%;
}
.barranav {
  color: orangered;
  border: 1px solid orangered;
  background-color: orangered;
}
.filtro {
  border: 1rem;
}
.nuevo {
  background-color: orangered;
}
.filtrar {
  background-color: orangered;
}
